# ==============================
# 🔹 General
# ==============================
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.env
.venv
.vscode/
.idea/

# ==============================
# 🔹 Dataset & Temp Files
# ==============================
03_word2vec/dataset_split/
03_word2vec/dataset_preprocessed/
03_word2vec\viwik18
04_lstm_generation\10000-vietnamese-books
*.txt
*.csv
*.zip
*.json
*.log

# ==============================
# 🔹 Model Files
# ==============================
03_word2vec/word2vec_model
*.model
*.npy
*.bin
*.h5
*.pt
*.pth
*.pkl
# ==============================
# 🔹 Output & Cache
# ==============================
runs/
output/
results/
cache/
checkpoints/
